* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-image {
    width: 250px;; /* Adjust this to make the image as large as possible */
    height: 300px;
    border-radius: 8px;

  }
  
  .login-right {
    flex: 1;
    background-color: #fff;
    padding: 20px; /* Reduced padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 4000px;
    width: 100%;
  }
  
  .login-title {
    font-size: 24px;
    color: #0A3D62;
    margin-bottom: 10px; /* Reduced space */
    text-align: center;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 6px; /* Reduced margin */
    color: #333;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Reduced margin */
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 10px; /* Reduced space */
    color: #0A3D62;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-button {
    width: 100%;
    padding: 10px; /* Reduced padding */
    background-color: #0A3D62;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #07518B;
  }
  
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }
  
    .login-left,
    .login-right {
      max-width: 100%;
      flex: none;
    }
  }
  