.appointments-container {
    padding: 20px;
  }
  
  .appointments-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .make-appointment-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .breadcrumb {
    font-size: 14px;
    color: #555;
  }
  
  .current-page {
    font-weight: bold;
  }
  
  .search-bar {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .appointments-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .appointments-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .appointments-table th,
  .appointments-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .appointments-table th {
    background-color: #f2f2f2;
  }
  
  .appointments-table td {
    background-color: #fff;
  }
  
  .edit-btn, .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .edit-btn i {
    color: #4caf50;
  }
  
  .delete-btn i {
    color: #f44336;
  }
  
  .back-button-container {
    margin-top: 20px;
  }
  
  .back-button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  