.prescription-container {
    padding: 20px;
  }
  
  .prescription-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-button {
    background-color: #5db38b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .breadcrumb {
    font-size: 14px;
  }
  
  .current-page {
    color: red;
  }
  
  .prescription-table {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table thead th {
    background-color: #e2f3f2;
    padding: 10px;
    text-align: left;
    font-size: 16px;
  }
  
  table tbody td {
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
  }
  
  .prescription-btn {
    background-color: #2d3c6c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button-container {
    text-align: right;
    margin-top: 20px;
  }
  
  .back-button {
    background-color: #5db38b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  